input {
  border: 1px solid #ddd;
  background-color: transparent;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

div {
  padding: 10px 0;
}
button {
  outline: none;
  background-color: #ddd;
  padding: 15px;
  border-radius: 15px;
  border: 0;
  width: 150px;
}

button.active, button.selected {
  color: #fff;
  background-color: #426caf;
}
